body{
    background-color: #eee;
    
}

#navbar{
    top:0;
    position: fixed;
    height: 75px;
}

ul{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: inherit;
}

#welcome-section{
    margin-top:75px;
}